<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
      <div class="page-header text-center">
        <h1>Esthar</h1>
      </div>

      <div class="panel panel-success">
        <div class="panel-heading text-center">
          <h3 class="panel-title">
            <a ng-show="post.link" href="{{post.link}}">
              {{post.title}}
            </a>

            <span ng-hide="post.link">{{post.title}}</span>
          </h3>
        </div>

        <div class="panel-body">
          <div ng-repeat="comment in post.comments | orderBy: '-upvotes'">
            <span class="badge pull-right" style="cursor: pointer;" ng-click="incrementUpvotes(comment)">
              <span class="glyphicon glyphicon-thumbs-up"></span>
              {{comment.upvotes}}
            </span>

            <span style="font-size: 20px; margin-left: 10px;">
              {{comment.body}}
              <span class="small text-muted"> - by {{comment.author}}</span>
            </span>
          </div>
        </div>
      </div>

      <form role="form" name="form" ng-submit="addComment()" style="margin-top: 30px;" novalidate>
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Add a new comment</h3>
          </div>

          <div class="panel-body">
            <div class="form-group" ng-class="{'has-error has-feedback':form.body.$invalid && form.body.$touched,
            'has-success has-feedback': form.body.$valid}">

              <input type="text" class="form-control" placeholder="Comment" ng-model="body" name="body" required="">

              <div ng-show="form.$submitted || form.body.$touched || form.body.$dirty">
                <div ng-show="form.body.$error.required">
                  <p class="help-block">
                    <span class="text-danger">Can't be blank</span>
                  </p>
                </div>
              </div>

              <div ng-show="form.body.$valid">
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              </div>

              <div ng-show="form.body.$invalid && form.body.$touched">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              </div>
            </div>

            <button type="submit" class="btn btn-success" ng-disabled="form.$invalid">Post</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
