<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
      <div class="page-header">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs text-right">
            <div class="main-logo"></div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
            <h1 class="main-title">Esthar</h1>
          </div>
        </div>
      </div>

      <div class="alert alert-warning" role="alert" ng-show="alreadyVoted">
        <strong>Sorry!</strong> But you've already voted for this post.
      </div>

      <div class="list-group" ng-repeat="post in posts | orderBy: '-upvotes'">
        <li class="list-group-item">
          <span class="badge" style="cursor: pointer; font-size: 14px;"
                ng-show="signedIn()"
                ng-click="incrementUpvotes(post)">
            <span class="glyphicon glyphicon-thumbs-up"></span>
          </span>

          <span style="font-size: 20px; margin-left: 10px;">
            <a ng-show="post.link" href="{{post.link}}" target="_blank">
              {{post.title}}
            </a>

            <span ng-hide="post.link">{{post.title}}</span>

            <span class="text-muted small">
              - posted by <a ng-href="#/users/{{post.user.username}}">{{post.user.username}}</a>
            </span>
            <br>

            <span class="small" style="margin-left: 10px;">
              <span class="label label-primary" title="Votes">
                <span class="glyphicon glyphicon-star"></span>
                {{post.upvotes}}
              </span>
            </span>

            <a href="#/posts/{{post.id}}" style="text-decoration: none;">
              <span class="small" style="margin-left: 10px;">
                <span class="label label-success" title="Comments">
                  <span class="glyphicon glyphicon-comment"></span>
                  {{post.comments.length}}
                </span>
              </span>
            </a>
          </span>
        </li>
      </div>

      <form style="margin-top: 30px;" role="form" ng-submit="addPost()" name="form" ng-show="signedIn()" novalidate>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Add a new Post</h3>
          </div>

          <div class="panel-body">
            <div class="form-group" ng-class="{'has-error has-feedback':form.title.$invalid && form.title.$touched,
            'has-success has-feedback': form.title.$valid}">

              <input type="text" class="form-control" placeholder="Title"
                     ng-model="title"
                     name="title"
                     required="">

              <div ng-show="form.$submitted || form.title.$touched || form.title.$dirty">
                <div ng-show="form.title.$error.required">
                  <p class="help-block">
                    <span class="text-danger">Can't be blank</span>
                  </p>
                </div>
              </div>

              <div ng-show="form.title.$valid">
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              </div>

              <div ng-show="form.title.$invalid && form.title.$touched">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              </div>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" placeholder="Link" ng-model="link">
            </div>

            <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Post</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
