<!DOCTYPE html>
<html>
<head>
  <title>Esthar</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
</head>
<body ng-app="Esthar">
  <ui-view></ui-view>

  <script type="text/ng-template" id="/home.html">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
          <div class="page-header text-center">
            <h1>Esthar</h1>
          </div>

          <div class="list-group" ng-repeat="post in posts | orderBy: '-upvotes'">
            <li class="list-group-item">
              <span class="badge" style="cursor: pointer;" ng-click="incrementUpvotes(post)">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                {{post.upvotes}}
              </span>

              <span class="badge">
                <a href="#/posts/{{$index}}" style="color: #FFFFFF;">Comments</a>
              </span>

              <span style="font-size: 20px; margin-left: 10px;">
                <a ng-show="post.link" href="{{post.link}}">
                  {{post.title}}
                </a>

                <span ng-hide="post.link">{{post.title}}</span>
              </span>
            </li>
          </div>

          <form style="margin-top: 30px;" role="form" ng-submit="addPost()" name="form" novalidate>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Add a new Post</h3>
              </div>

              <div class="panel-body">
                <div class="form-group"
                ng-class="{'has-error has-feedback':form.title.$invalid && form.title.$touched,
                'has-success has-feedback': form.title.$valid}">

                  <input type="text" class="form-control" placeholder="Title"
                  ng-model="title"
                  name="title"
                  required=""></input>

                  <div ng-show="form.$submitted || form.title.$touched || form.title.$dirty">
                    <div ng-show="form.title.$error.required">
                      <p class="help-block">
                        <span class="text-danger">Can't be blank</span>
                      </p>
                    </div>
                  </div>

                  <div ng-show="form.title.$valid">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                  </div>

                  <div ng-show="form.title.$invalid && form.title.$touched">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  </div>
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Link" ng-model="link"></input>
                </div>

                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Post</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="/posts.html">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
          <div class="page-header text-center">
            <h1>Esthar</h1>
          </div>

          <div class="panel panel-success">
            <div class="panel-heading text-center">
              <h3 class="panel-title">
                <a ng-show="post.link" href="{{post.link}}">
                  {{post.title}}
                </a>

                <span ng-hide="post.link">{{post.title}}</span>
              </h3>
            </div>

            <div class="panel-body">
              <div ng-repeat="comment in post.comments | orderBy: '-upvotes'">
                <span class="badge pull-right" style="cursor: pointer;" ng-click="incrementUpvotes(comment)">
                  <span class="glyphicon glyphicon-thumbs-up"></span>
                  {{comment.upvotes}}
                </span>

                <span style="font-size: 20px; margin-left: 10px;">
                  {{comment.body}}

                  <span class="small text-muted"> - by {{comment.author}}</span>
                </span>
              </div>
            </div>
          </div>

          <form role="form" name="form" ng-submit="addComment()" style="margin-top: 30px;" novalidate>
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">Add a new comment</h3>
              </div>

              <div class="panel-body">
                <div class="form-group"
                ng-class="{'has-error has-feedback':form.body.$invalid && form.body.$touched,
                'has-success has-feedback': form.body.$valid}">

                  <input type="text" class="form-control" placeholder="Comment"
                  ng-model="body" name="body" required=""></input>

                  <div ng-show="form.$submitted || form.body.$touched || form.body.$dirty">
                    <div ng-show="form.body.$error.required">
                      <p class="help-block">
                        <span class="text-danger">Can't be blank</span>
                      </p>
                    </div>
                  </div>

                  <div ng-show="form.body.$valid">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                  </div>

                  <div ng-show="form.body.$invalid && form.body.$touched">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                  </div>
                </div>

                <button type="submit" class="btn btn-success" ng-disabled="form.$invalid">Post</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </script>
</body>
</html>
